{% extends "admin/layout.html" %}
{% from 'bootstrap/modals.html' import render_modal_form, render_confirmation_modal %}

{% block styles %}
{{ super() }}
<link href="/static/content/typeahead.css" rel="stylesheet">
{% endblock %}

{% block title_button %}
<button id="addButton" data-bs-toggle="modal" data-bs-target="#formModal" data-action="{{ url_for('api.airplanes') }}" data-method="POST" class="btn btn-primary" type="button">Add Airplanes</button>
{% endblock %}

{% block content %}

{{ render_modal_form(table_name, form, modal_id='formModal', form_id='form', left_button_id='deleteButton', left_button_text='Delete', left_button_class='btn-danger') }}

<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Delete Airplane</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this airplane?</p>
            </div>
            <div class="modal-footer">
                <button onclick="$(this).trigger('rejected.bs.modal')" type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">No</button>
                <button onclick="$(this).trigger('accepted.bs.modal')" type="button" class="btn btn-danger"
                    data-bs-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

<table 
    id="table"
    data-toggle="table"
    data-height="550"
    data-ajax="getItems"
    data-data-field="items"
    data-total-field="total"
    data-side-pagination="server"
    data-query-params="queryParams"
    data-pagination="true"
    data-search="true">
    <thead>
        <tr>
            <th data-field="id">Id</th>
            <th data-field="registration_number">Registration Number</th>
            <th data-field="model_name">Name</th>
            <th data-field="model_code">Timezone</th>
            <th data-field="capacity">Capacity</th>
            <th data-field="range">Range</th>
            <th data-field="home_id" data-visible="false">Home Id</th>
            <th data-field="home_code">Home Code</th>
            <th data-formatter="actionFormatter">Actions</th>
        </tr>
    </thead>
</table>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/scripts/typeahead.bundle.min.js"></script>
<script src="/static/scripts/modalform.js"></script>
<script>

    // Creates the elements for the "Actions" column in the table
    function actionFormatter(value, row, index, field) {
        return `<button 
                    class="btn" 
                    type="button" 
                    data-bs-toggle="modal" 
                    data-bs-target="#formModal"
                    data-action="{{ url_for('api.airplanes') }}/${row.id}"
                    data-method="PATCH"
                    data-id="${row.id}"
                    data-registration_number="${row.registration_number}"
                    data-model_name="${row.model_name}"
                    data-model_code="${row.model_code}"
                    data-capacity="${row.capacity}"
                    data-range="${row.range}"
                    data-home_id="${row.home_id}"
                    data-home_code="${row.home_code}">
                        <i class="bi bi-pencil"></i>
                </button>`
    }

    // Gets the items from the API and formats the data for Bootstrap Table
    // https://examples.bootstrap-table.com/#options/table-ajax.html#view-source
    function getItems(params) {
        var url = "{{ url_for('api.airplanes') }}"
        $.get(url + '?' + $.param(params.data)).then(function (res) {
            // Bootstrap Table expects a total number of items 
            // so it can calculate how many pages and a list of items.
            params.success({total: res._meta.total_items, items: res.items})
        })
    }

    // Bootstrap Table uses limit and offset but our API uses pages and page size.
    // Convert the limit and and offset to our pages and page size.
    // https://examples.bootstrap-table.com/#options/query-params.html#view-source
    function queryParams(params) {
        page = params.offset / params.limit
        return {
            page: page + 1,
            per_page: params.limit,
            search: params.search
        }
    }

    $(document).ready(function () {
        const $form = $('#form')

        const $formModal = $('#formModal')
        const formModal = bootstrap.Modal.getOrCreateInstance($formModal[0])

        const $confirmationModal = $('#confirmationModal')
        const confirmationModal = bootstrap.Modal.getOrCreateInstance($confirmationModal[0])

        const $table = $('#table')

        const $homeCodeInput = $form.find('#home_code')
        const $homeCodeLabel = $(`label[for="home_code"]`)

        setupAirportTypeahead('home_code')
        
        // Automatically populate form info like method and action
        // based on data attributes from the button that triggered
        // the modal show event.
        $('.modal').modalform({
            onSuccess: function(response) {
                $table.bootstrapTable('refresh')
            }
        });

        $formModal.on('show.bs.modal', function(event) {
            $form.removeClass('was-validated')
            // Hide the delete button on the modal if the user is adding a new airport
            if (event.relatedTarget === $('#addButton')[0]) {
                $('#deleteButton').hide()
            } else {
                $('#deleteButton').show()
            }
        })

        $('#deleteButton').click(function() {
            formModal.hide()
            confirmationModal.show()

            $confirmationModal.one('accepted.bs.modal', function(event) {
                $form.attr('method', 'DELETE')
                $form.submit()
            })

            $confirmationModal.one('rejected.bs.modal', function(event) {
                formModal.show();
            })

            $confirmationModal.on('hidden.bs.modal', function() {
                $confirmationModal.off('accepted.bs.modal');
                $confirmationModal.off('rejected.bs.modal');
            })
        })
    })
</script>
{% endblock %}