{% extends "admin/layout.html" %}
{% from 'bootstrap/modals.html' import render_modal_form, render_confirmation_modal %}

{% block title_button %}
<button data-bs-toggle="modal" data-bs-target="#airportModal" class="btn btn-primary" type="button">Add Airport</button>
{% endblock %}

{% block content %}

{{ render_modal_form('Airport', airport_form, modal_id='airportModal', form_id='airportForm', left_button_id='deleteButton', left_button_text='Delete', left_button_class='btn-danger') }}

<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Delete Airport</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button onclick="$(this).trigger('rejected.bs.modal')" type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">No</button>
                <button onclick="$(this).trigger('accepted.bs.modal')" type="button" class="btn btn-danger"
                    data-bs-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

<table 
    id="airportTable"
    data-toggle="table"
    data-height="550"
    data-ajax="getAirports"
    data-data-field="items"
    data-total-field="total"
    data-side-pagination="server"
    data-query-params="queryParams"
    data-pagination="true"
    data-search="true">
    <thead>
        <tr>
            <th data-field="code">Code</th>
            <th data-field="name">Name</th>
            <th data-field="timezone">Timezone</th>
            <th data-formatter="actionFormatter">Actions</th>
        </tr>
    </thead>
</table>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/scripts/modalform.js"></script>
<script>

    // Creates the elements for the "Actions" column in the airport table
    function actionFormatter(value, row, index, field) {
        return `<button 
                    class="btn" 
                    type="button" 
                    data-bs-toggle="modal" 
                    data-bs-target="#airportModal"
                    data-action="/admin/airports/${row.id}"
                    data-name="${row.name}" 
                    data-code="${row.code}" 
                    data-timezone="${row.timezone}">
                        <i class="bi bi-pencil"></i>
                </button>`
    }

    // Gets the airports from the API and formats the data for Bootstrap Table
    // https://examples.bootstrap-table.com/#options/table-ajax.html#view-source
    function getAirports(params) {
        var url = "{{ url_for('api.airports') }}"
        $.get(url + '?' + $.param(params.data)).then(function (res) {
            // Bootstrap Table expects a total number of items 
            // so it can calculate how many pages and a list of items.
            params.success({total: res._meta.total_items, items: res.items})
        })
    }

    // Bootstrap Table uses limit and offset but our API uses pages and page size.
    // Convert the limit and and offset to our pages and page size.
    // https://examples.bootstrap-table.com/#options/query-params.html#view-source
    function queryParams(params) {
        page = params.offset / params.limit
        return {
            page: page + 1,
            per_page: params.limit,
            search: params.search
        }
    }

    $(document).ready(function () {
        const $airportForm = $('#airportForm')

        const $airportModal = $('#airportModal')
        const airportModal = bootstrap.Modal.getOrCreateInstance($airportModal[0])

        const $confirmationModal = $('#confirmationModal')
        const confirmationModal = bootstrap.Modal.getOrCreateInstance($confirmationModal[0])

        const $airportTable = $('#airportTable')

        // Automatically populate form info like method and action
        // based on data attributes from the button that triggered
        // the modal show event.
        $('.modal').modalform();

        $('#deleteButton').click(function() {
            airportModal.hide()
            const code = $airportForm.find('#code').val()
            $confirmationModal.find('.modal-body').html(`<p>Are you sure you want to delete the airport <b>${code}</b>?</p>`)
            confirmationModal.show()

            $confirmationModal.one('accepted.bs.modal', function(event) {
                $airportForm.find('#method').val('DELETE')
                $airportForm.submit()
            })

            $confirmationModal.one('rejected.bs.modal', function(event) {
                airportModal.show();
            })

            $confirmationModal.on('hidden.bs.modal', function() {
                $confirmationModal.off('accepted.bs.modal');
                $confirmationModal.off('rejected.bs.modal');
            })
        })

        // Handle form validation as per Bootstrap docs
        // https://getbootstrap.com/docs/5.1/forms/validation/#custom-styles
        $('form.needs-validation').submit(function(event) {
            const $form = $(this);
            event.preventDefault()
            if (this.checkValidity() === false) {
                event.stopPropagation()
            } else {
                const action = $form.attr('action')
                // TODO: Figure out how to deal with server side form errors.
                // For example submitting an airport with the same code.
                $.post(action, $form.serialize())
                    .done(function(data) {
                        airportModal.hide()
                        $airportTable.bootstrapTable('refresh')
                    })
            }
            $form.addClass('was-validated')
        })
    })
</script>
{% endblock %}