{% extends "admin/layout.html" %}
{% from 'bootstrap/modals.html' import render_modal_form, render_confirmation_modal %}

{% block title_button %}
<button id="addAirportButton" class="btn btn-primary" type="button">Add Airport</button>
{% endblock %}

{% block content %}

{{ render_modal_form('Airport', airport_form, modal_id='airportModal', form_id='airportForm') }}

<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Delete Airport</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button onclick="$(this).trigger('rejected.bs.modal')" type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">No</button>
                <button onclick="$(this).trigger('accepted.bs.modal')" type="button" class="btn btn-danger"
                    data-bs-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

{% if airports %}
<table id="airportTable" data-pagination="true" data-search="true" data-click-to-select="true">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Timezone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for airport in airports %}
        <tr>
            <td id="code{{ airport.id }}">{{ airport.code }}</td>
            <td id="name{{ airport.id }}">{{ airport.name }}</td>
            <td id="timezone{{ airport.id }}">{{ airport.timezone }}</td>
            <td>
                <button class="btn edit-btn" type="button" data-airport-id="{{ airport.id }}"><i
                        class="bi bi-pencil"></i></button>
                <button class="btn delete-btn" type="button" data-airport-id="{{ airport.id }}"><i
                        class="bi bi-trash"></i></button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>It looks like no airports have been added. Maybe you should add one?</p>
{% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function () {
        const $airportTable = $('#airportTable')

        const $airportForm = $('#airportForm')

        const $airportModal = $('#airportModal')
        const airportModal = bootstrap.Modal.getOrCreateInstance($airportModal[0])

        const $confirmationModal = $('#confirmationModal')
        const confirmationModal = bootstrap.Modal.getOrCreateInstance($confirmationModal[0])

        $airportTable.bootstrapTable('destroy').bootstrapTable({
            locale: 'en-US'
        })

        $('#addAirportButton').click(function() {
            $airportForm.find('#code').val('')
            $airportForm.find('#name').val('')
            $airportForm.find('#timezone').val('')
            $airportForm.attr('action', `/admin/airports`)
            $airportForm.removeClass('was-validated')
            airportModal.show()
        })

        $('.edit-btn').click(function () {
            const airportId = $(this).data('airport-id')
            const code = $(`#code${airportId}`).text()
            const name = $(`#name${airportId}`).text()
            const timezone = $(`#timezone${airportId}`).text()

            $airportForm.find('#code').val(code)
            $airportForm.find('#name').val(name)
            $airportForm.find('#timezone').val(timezone)
            $airportForm.attr('action', `/admin/airports/${airportId}`)
            $airportForm.removeClass('was-validated')
            airportModal.show()
        })

        $('.delete-btn').click(function () {
            const airportId = $(this).data('airport-id')
            const code = $(`#code${airportId}`).text()
            $confirmationModal.data('airport-id', airportId)
            $confirmationModal.find('.modal-body').append(`<p>Are you sure you want to delete the airport <b>${code}</b>?</p>`)
            confirmationModal.show()
        })

        $confirmationModal.on('accepted.bs.modal', function (event) {
            const airportId = $confirmationModal.data('airport-id')
            $airportForm.attr('action', `/admin/airports/${airportId}`)
            $airportForm.find('#method').val('DELETE')
            $airportForm.submit()
        })

        // Handle form validation as per Bootstrap docs
        $('form.needs-validation').submit(function(event) {
            const $form = $(this);
            if (this.checkValidity() === false) {
                event.preventDefault()
                event.stopPropagation();
            } 
            $form.addClass('was-validated');
        })
    })
</script>
{% endblock %}