{% extends "base.html" %}

{% block body %}
<body class="bg-dark text-light">
    <div class="container body-content">
        <div class="vstack gap-3 mx-auto px-3">
            <div class="hstack gap-3 mx-auto my-4">
                <a href="/">
                    <img class="mx-auto d-block" src="/static/images/logo.png" width="250" height="80" alt="">
                </a>
            </div>
            <h1 class="text-center text-light fw-normal">{{ title }}</h1>
            <div class="col">
                <div class="mx-auto" style="max-width: 540px;">
                    {% block messages %}
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    {% if category == 'message' %}{% set category = 'primary' %}{% endif %}
                    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    {% endblock %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    {{ super() }}
</body>
{% endblock %}
