{% extends "auth/layout.html" %}
{% from "bootstrap/forms.html" import render_field %}

{% block content %}
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="text-dark row">
        <div class="col">
            {{ render_field(form.first_name) }}
        </div>
        <div class="col">
            {{ render_field(form.last_name) }}
        </div>
    </div>
    <div class="text-dark">
        {{ render_field(form.email) }}
    </div>
    <div class="text-dark">
        {{ render_field(form.password) }}
    </div>
    <div class="text-dark">
        {{ render_field(form.password2) }}
    </div>
    <div class="d-grid">
        {{ form.submit(value='Sign Up', class='btn btn-primary') }}
    </div>
</form>
<div class="d-flex justify-content-center mt-2">
    <p class="me-1">Already have an account?</p><a href="{{ url_for('auth.login') }}"> Sign In</a>
</div>
{% endblock %}