{% set app_name = 'Red Eye' -%}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/icons/site.webmanifest">
    <link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    {% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="/static/content/site.css" rel="stylesheet">
    {% endblock %}
    <title>{{ title }}</title>
</head>
{% block body %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script>
    var airport_bloodhound = null;
    var airplane_bloodhound = null;
    function setupAirplaneTypeahead(id) {
        if (airplane_bloodhound == null) {
            airplane_bloodhound = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.whitespace,
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: "{{ url_for('api.airplanes', search='_QUERY') }}",
                    wildcard: '_QUERY',
                    transform: function(res) {
                        return res.items;
                    }
                },
                identify: function (obj) { return obj.id; }
            })
        }

        const $input = $(`#${id}`)
        const $label = $(`label[for="${id}"]`)
        const $feedback = $(`#${id}-feedback`)

        $input.typeahead(null, {
            name: 'airplanes',
            display: 'registration_number',
            source: airplane_bloodhound,
            templates: {
                suggestion: function(data) {
                    return `<div class="tt-suggestion">${data.registration_number}</div>`
                }
            }
        })

        $input.after($label)
        $label.after($feedback)
    }

    function setupAirportTypeahead(id) {
        if (airport_bloodhound == null) {
            airport_bloodhound = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.whitespace,
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: "{{ url_for('api.airports', search='_QUERY') }}",
                    wildcard: '_QUERY',
                    transform: function(res) {
                        return res.items;
                    }
                },
                identify: function (obj) { return obj.id; }
            })
        }

        const $input = $(`#${id}`)
        const $label = $(`label[for="${id}"]`)
        const $feedback = $(`#${id}-feedback`)

        $input.typeahead(null, {
            name: 'airports',
            display: 'code',
            source: airport_bloodhound,
            templates: {
                suggestion: function(data) {
                    return `<div class="tt-suggestion">${data.code}\t${data.name}</div>`
                }
            }
        })

        $input.after($label)
        $label.after($feedback)
    }
</script>
{% endblock %}
{% endblock %}
</html>